html {
    color: #414858;
    font-family: sans-serif;
}

#info {
    width: 100%;
}

#contact_info {
    color: #113c51;
}

.unstyledul {
    list-style-type: none;
}

nav {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #513435;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 12px 16px;
    color: #d1afb1;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #252b37;
}

.active {
    background-color: #5a6172;
}

.name {
    color: #5a6172;
}

h2 {
    color: #252b37;
}

h3 {
    color: #252b37;
}

a {
    color: #7a808e;
}