html {
    font-family: sans-serif;
    overflow-y: scroll;
    background: #222222;
}

body {
    margin-left: calc(16.6666666667% - 16px);
    margin-right: calc(16.6666666667% - 16px);
}

main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: white;
    color: black;
}

#avatar {
    float: right;
    padding-top: 0px;
}

#info {
    width: 100%;
}

.unstyledul {
    list-style-type: none;
}

nav {
    display: block;
    margin-top: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #111111;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 12px 20px;
    color: #999999;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: white;
}

nav a.active {
    color: black;
    background-color: white; 
}

header.name h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

section.content h3 {
    margin: 0px;
    margin-top: 20px;
}

section.content h4 {
    margin: 0px;
}

section.content a:visited {
    color: #a9a9a9;;
}